html {
    background: #FFF;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

img {
    height: 250px;
    width: 250px;
}

.menu {
    width: 80%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.menu-content {
    background: #62BBB5;
    padding: 32px;
    border-radius: 3px;
    box-shadow: 0px 5px 60px #FDEE6E
}

.menu-item {
    background: #FFF;
    color: rgb(63, 63, 63);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 16px;
    height: 40vh;
    border-radius: 3px;
    border-width: 1px;
    border-color: rgb(192, 204, 217);
    border-style: solid;
    direction: ltr;
}

input[type="submit"] {
    font-size: 21px;
    text-align: center;
    color: #FFF;
    background-color: #62BBB5;
    border-radius: 3px;
    border-width: 0px;
    padding: 8px 18px;
    cursor: pointer;
    box-shadow: 0px 5px 10px rgb(63, 63, 63);
}

input[type="file"] {
    cursor: pointer;
}
